@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.bg-primary-black {
  background-color: #000; /* Set the background color to black */
  opacity: 0.9; /* Set the opacity to control transparency (0.5 in this example) */
  /* Other styles... */
}

.App {
 text-align: center;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
